snippet fork
\{$1\}.fork;
endsnippet

snippet aaaaa
a a a a a
endsnippet

snippet do
$1.do{|$2| $3};
endsnippet

snippet fold
//	$2	{{{$1
endsnippet

snippet env
Env.$1($2).kr(2,gate:$3)
endsnippet

snippet filter
$1[$2]=\filter->{|in| $3}
endsnippet

