snippet fork
\{$1\}.fork;
endsnippet

snippet do
$1.do{|$2| $3};
endsnippet

snippet fold
//	$2	{{{$1
endsnippet

snippet env
Env.$1($2).kr(2,gate:$3)
endsnippet

snippet filter
$1[$2]=\filter->{|in| $3}
endsnippet

snippet pfx
SynthDef($1,\{|out wet=1 $3|
	var in=In.ar(out);
	var sig = $2;
	XOut.ar(out, wet, sig)\}
).add;
endsnippet

snippet pdef
Pdef($1,${VISUAL:/.play;//});
endsnippet

snippet pb
(
	[
	$1
	].p
	.play
)
endsnippet

snippet foldd
//{{{${VISUAL}//}}}
endsnippet
