*.wav filter=lfs diff=lfs merge=lfs -text
**.wav filter=lfs diff=lfs merge=lfs -text
*.aif filter=lfs diff=lfs merge=lfs -text
*.aiff filter=lfs diff=lfs merge=lfs -text
Trek-samples/kirk.wav filter=lfs diff=lfs merge=lfs -text
graph/sine-noise-less-sine.wav filter=lfs diff=lfs merge=lfs -text
media/heartHi2.wav filter=lfs diff=lfs merge=lfs -text
media/heartd.wav filter=lfs diff=lfs merge=lfs -text
Envelopes/20220515_092222.wav filter=lfs diff=lfs merge=lfs -text
Envelopes/20220515_092223.wav filter=lfs diff=lfs merge=lfs -text
Envelopes/220905_074436.wav filter=lfs diff=lfs merge=lfs -text
SampleRamper/trainramps.wav filter=lfs diff=lfs merge=lfs -text
Triangle/TriangleTuned.wav filter=lfs diff=lfs merge=lfs -text
Vocaloid/testAutomator.wav filter=lfs diff=lfs merge=lfs -text
graph/ramps1.8.wav filter=lfs diff=lfs merge=lfs -text
recordTest.wav-bak/recordTest210402_155948.wav filter=lfs diff=lfs merge=lfs -text
recordTest.wav-bak/recordTest210402_160110.wav filter=lfs diff=lfs merge=lfs -text
graph/ramps-down.wav filter=lfs diff=lfs merge=lfs -text
graph/ramps-up.wav filter=lfs diff=lfs merge=lfs -text
media/heart.wav filter=lfs diff=lfs merge=lfs -text
Envelopes/220905_074437.wav filter=lfs diff=lfs merge=lfs -text
SampleRamper/trainramps_shorter.wav filter=lfs diff=lfs merge=lfs -text
Vocaloid/changedNote.wav filter=lfs diff=lfs merge=lfs -text
four/four.wav filter=lfs diff=lfs merge=lfs -text
media/heartHi.wav filter=lfs diff=lfs merge=lfs -text
recordTest.wav-bak/recordTest210402_160010.wav filter=lfs diff=lfs merge=lfs -text
Stills/return[[:space:]]to[[:space:]]tomorrow.mov filter=lfs diff=lfs merge=lfs -text
Stills/media/09-180707_1916.wav filter=lfs diff=lfs merge=lfs -text
Stills/media/09-Sargon-200905_1629.wav filter=lfs diff=lfs merge=lfs -text
Stills/media/11-180707_1843.wav filter=lfs diff=lfs merge=lfs -text
Stills/media/02-200905_1629.wav.reapeaks filter=lfs diff=lfs merge=lfs -text
Stills/media/08-Sargon-180715_1219.wav filter=lfs diff=lfs merge=lfs -text
Stills/media/09-180707_1918.wav filter=lfs diff=lfs merge=lfs -text
Stills/media/17-PLATE[[:space:]]SEND-180903_1149.wav filter=lfs diff=lfs merge=lfs -text
Stills/media/17-PLATE[[:space:]]SEND-180903_1152-01.wav filter=lfs diff=lfs merge=lfs -text
Stills/media/17-PLATE[[:space:]]SEND-180903_1152.wav filter=lfs diff=lfs merge=lfs -text
Stills/media/return[[:space:]]to[[:space:]]tomorrow.mov.reapeaks filter=lfs diff=lfs merge=lfs -text
Stills/media/08-Sargon-180715_1218.wav.reapeaks filter=lfs diff=lfs merge=lfs -text
Stills/media/08-Sargon-180916_1003.wav filter=lfs diff=lfs merge=lfs -text
Stills/media/08-Sargon-180916_1605.wav filter=lfs diff=lfs merge=lfs -text
Stills/media/return[[:space:]]to[[:space:]]tomorrow.mov filter=lfs diff=lfs merge=lfs -text
Stills/media/02-200905_1629.wav filter=lfs diff=lfs merge=lfs -text
Stills/media/05-Recorded[[:space:]]MIDI[[:space:]]render[[:space:]]001.wav filter=lfs diff=lfs merge=lfs -text
Stills/media/08-Sargon-180715_1218.wav filter=lfs diff=lfs merge=lfs -text
Stills/media/08-Sargon-180726_1407.wav filter=lfs diff=lfs merge=lfs -text
Stills/media/089_hardhitta.aif filter=lfs diff=lfs merge=lfs -text
Stills/video[[:space:]]for[[:space:]]stills[[:space:]]etc.RPP filter=lfs diff=lfs merge=lfs -text
Stills/return-to-tomorrow.mov filter=lfs diff=lfs merge=lfs -text
