**syncthing**
*PROX
**DS_Store*
*.reapeaks
*.rpp-bak
*.RPP-bak
*.stversions*


.undodir

SampleRamper/trainramps.wav
SampleRamper/trainramps_shorter.wav
four/four.wav
graph/anxiety(short).mp3
graph/ramps-down.mp3
graph/ramps-up.mp3
Triangle/TriangleTuned.wav