*.wav filter=lfs diff=lfs merge=lfs -text
**.wav filter=lfs diff=lfs merge=lfs -text
*.aif filter=lfs diff=lfs merge=lfs -text
*.aiff filter=lfs diff=lfs merge=lfs -text
Trek-samples/kirk.wav filter=lfs diff=lfs merge=lfs -text
graph/sine-noise-less-sine.wav filter=lfs diff=lfs merge=lfs -text
media/heartHi2.wav filter=lfs diff=lfs merge=lfs -text
media/heartd.wav filter=lfs diff=lfs merge=lfs -text
Envelopes/20220515_092222.wav filter=lfs diff=lfs merge=lfs -text
Envelopes/20220515_092223.wav filter=lfs diff=lfs merge=lfs -text
Envelopes/220905_074436.wav filter=lfs diff=lfs merge=lfs -text
SampleRamper/trainramps.wav filter=lfs diff=lfs merge=lfs -text
Triangle/TriangleTuned.wav filter=lfs diff=lfs merge=lfs -text
Vocaloid/testAutomator.wav filter=lfs diff=lfs merge=lfs -text
graph/ramps1.8.wav filter=lfs diff=lfs merge=lfs -text
recordTest.wav-bak/recordTest210402_155948.wav filter=lfs diff=lfs merge=lfs -text
recordTest.wav-bak/recordTest210402_160110.wav filter=lfs diff=lfs merge=lfs -text
graph/ramps-down.wav filter=lfs diff=lfs merge=lfs -text
graph/ramps-up.wav filter=lfs diff=lfs merge=lfs -text
media/heart.wav filter=lfs diff=lfs merge=lfs -text
Envelopes/220905_074437.wav filter=lfs diff=lfs merge=lfs -text
SampleRamper/trainramps_shorter.wav filter=lfs diff=lfs merge=lfs -text
Vocaloid/changedNote.wav filter=lfs diff=lfs merge=lfs -text
four/four.wav filter=lfs diff=lfs merge=lfs -text
media/heartHi.wav filter=lfs diff=lfs merge=lfs -text
recordTest.wav-bak/recordTest210402_160010.wav filter=lfs diff=lfs merge=lfs -text
Stills/return[[:space:]]to[[:space:]]tomorrow.mov filter=lfs diff=lfs merge=lfs -text
Stills/media/09-180707_1916.wav filter=lfs diff=lfs merge=lfs -text
Stills/media/09-Sargon-200905_1629.wav filter=lfs diff=lfs merge=lfs -text
Stills/media/11-180707_1843.wav filter=lfs diff=lfs merge=lfs -text
Stills/media/02-200905_1629.wav.reapeaks filter=lfs diff=lfs merge=lfs -text
Stills/media/08-Sargon-180715_1219.wav filter=lfs diff=lfs merge=lfs -text
Stills/media/09-180707_1918.wav filter=lfs diff=lfs merge=lfs -text
Stills/media/17-PLATE[[:space:]]SEND-180903_1149.wav filter=lfs diff=lfs merge=lfs -text
Stills/media/17-PLATE[[:space:]]SEND-180903_1152-01.wav filter=lfs diff=lfs merge=lfs -text
Stills/media/17-PLATE[[:space:]]SEND-180903_1152.wav filter=lfs diff=lfs merge=lfs -text
Stills/media/return[[:space:]]to[[:space:]]tomorrow.mov.reapeaks filter=lfs diff=lfs merge=lfs -text
Stills/media/08-Sargon-180715_1218.wav.reapeaks filter=lfs diff=lfs merge=lfs -text
Stills/media/08-Sargon-180916_1003.wav filter=lfs diff=lfs merge=lfs -text
Stills/media/08-Sargon-180916_1605.wav filter=lfs diff=lfs merge=lfs -text
Stills/media/return[[:space:]]to[[:space:]]tomorrow.mov filter=lfs diff=lfs merge=lfs -text
Stills/media/02-200905_1629.wav filter=lfs diff=lfs merge=lfs -text
Stills/media/05-Recorded[[:space:]]MIDI[[:space:]]render[[:space:]]001.wav filter=lfs diff=lfs merge=lfs -text
Stills/media/08-Sargon-180715_1218.wav filter=lfs diff=lfs merge=lfs -text
Stills/media/08-Sargon-180726_1407.wav filter=lfs diff=lfs merge=lfs -text
Stills/media/089_hardhitta.aif filter=lfs diff=lfs merge=lfs -text
Stills/video[[:space:]]for[[:space:]]stills[[:space:]]etc.RPP filter=lfs diff=lfs merge=lfs -text
Stills/return-to-tomorrow.mov filter=lfs diff=lfs merge=lfs -text
Trek/SynthV/**.wav filter=lfs diff=lfs merge=lfs -text
Trek/SynthV filter=lfs diff=lfs merge=lfs -text
Trek/SynthV/briefing/**.wav filter=lfs diff=lfs merge=lfs -text
Trek/Synthv/**.wav filter=lfs diff=lfs merge=lfs -text
Trek/SynthV/this-formnula/**.wav filter=lfs diff=lfs merge=lfs -text
Trek/*ynth*/this*/**.wav filter=lfs diff=lfs merge=lfs -text
Trek/synthV/this-formnula/**.wav filter=lfs diff=lfs merge=lfs -text
Trek/*ynth*/**.wav filter=lfs diff=lfs merge=lfs -text
Trek/SynthV/transporter filter=lfs diff=lfs merge=lfs -text
Trek/SynthV/Genbu-Voice.svp filter=lfs diff=lfs merge=lfs -text
Trek/SynthV/MandT filter=lfs diff=lfs merge=lfs -text
Trek/SynthV/chicken filter=lfs diff=lfs merge=lfs -text
Trek/SynthV/song filter=lfs diff=lfs merge=lfs -text
Trek/SynthV/theyUsed filter=lfs diff=lfs merge=lfs -text
Trek/SynthV/three filter=lfs diff=lfs merge=lfs -text
Trek/SynthV/SCRIPTS filter=lfs diff=lfs merge=lfs -text
Trek/SynthV/notam filter=lfs diff=lfs merge=lfs -text
Trek/SynthV/sickBay filter=lfs diff=lfs merge=lfs -text
Trek/SynthV/thousand filter=lfs diff=lfs merge=lfs -text
Trek/SynthV/briefing filter=lfs diff=lfs merge=lfs -text
Trek/SynthV/chapelForgets filter=lfs diff=lfs merge=lfs -text
Trek/SynthV/chapelForgets2 filter=lfs diff=lfs merge=lfs -text
Trek/SynthV/condVar filter=lfs diff=lfs merge=lfs -text
Trek/SynthV/laboratory filter=lfs diff=lfs merge=lfs -text
Trek/SynthV/chamber1 filter=lfs diff=lfs merge=lfs -text
Trek/SynthV/mauraTropical filter=lfs diff=lfs merge=lfs -text
Trek/SynthV/medical filter=lfs diff=lfs merge=lfs -text
Trek/SynthV/panel1 filter=lfs diff=lfs merge=lfs -text
Trek/SynthV/panel2 filter=lfs diff=lfs merge=lfs -text
Trek/SynthV/test.svp filter=lfs diff=lfs merge=lfs -text
Trek/SynthV/visual filter=lfs diff=lfs merge=lfs -text
Trek/SynthV/parameters-test.svp filter=lfs diff=lfs merge=lfs -text
Trek/SynthV/rescue filter=lfs diff=lfs merge=lfs -text
Trek/SynthV/silverLake filter=lfs diff=lfs merge=lfs -text
Trek/SynthV/smallChamber filter=lfs diff=lfs merge=lfs -text
Trek/SynthV/test-pro.svp filter=lfs diff=lfs merge=lfs -text
Trek/SynthV/this-formnula filter=lfs diff=lfs merge=lfs -text
Trek/SynthV/chamber filter=lfs diff=lfs merge=lfs -text
Trek/SynthV/ending filter=lfs diff=lfs merge=lfs -text
Trek/SynthV/song/**.wav filter=lfs diff=lfs merge=lfs -text
Trek/Frozen/ filter=lfs diff=lfs merge=lfs -text
Trek/Frozen/ending_xuan_lead_17.wav filter=lfs diff=lfs merge=lfs -text
Trek/Frozen/xuan_lead_26.wav filter=lfs diff=lfs merge=lfs -text
Trek/Frozen/visual_xuan_lead_34.wav filter=lfs diff=lfs merge=lfs -text
Trek/Frozen/visual_xuan_lead_37.wav filter=lfs diff=lfs merge=lfs -text
Trek/Frozen/visual_xuan_lead_42.wav filter=lfs diff=lfs merge=lfs -text
Trek/Frozen/xuan_lead_12.wav filter=lfs diff=lfs merge=lfs -text
Trek/Frozen/chamber_xuan_23.wav filter=lfs diff=lfs merge=lfs -text
Trek/Frozen/ending_xuan_lead_35.wav filter=lfs diff=lfs merge=lfs -text
Trek/Frozen/panel1_twice_13.wav filter=lfs diff=lfs merge=lfs -text
Trek/Frozen/panel1_xuan_-1.wav filter=lfs diff=lfs merge=lfs -text
Trek/Frozen/visual_xuan_lead_29.wav filter=lfs diff=lfs merge=lfs -text
Trek/Frozen/visual_xuan_lead_31.wav filter=lfs diff=lfs merge=lfs -text
Trek/Frozen/xuan_lead_36.wav filter=lfs diff=lfs merge=lfs -text
Trek/Frozen/MandT_xuan_lead_31.wav filter=lfs diff=lfs merge=lfs -text
Trek/Frozen/ending_xuan_19.wav filter=lfs diff=lfs merge=lfs -text
Trek/Frozen/ending_xuan_lead_37.wav filter=lfs diff=lfs merge=lfs -text
Trek/Frozen/panel1_xuan_lala_6.wav filter=lfs diff=lfs merge=lfs -text
Trek/Frozen/rescue_xuan_lead_19.wav filter=lfs diff=lfs merge=lfs -text
Trek/Frozen/xuan_lead_14.wav filter=lfs diff=lfs merge=lfs -text
Trek/Frozen/xuan_lead_31.wav filter=lfs diff=lfs merge=lfs -text
Trek/Frozen/MandT_xuan_lead_29.wav filter=lfs diff=lfs merge=lfs -text
Trek/Frozen/chamber1_xuan_23.wav filter=lfs diff=lfs merge=lfs -text
Trek/Frozen/chamber_xuan_26.wav filter=lfs diff=lfs merge=lfs -text
Trek/Frozen/rescue_xuan_lead_12.wav filter=lfs diff=lfs merge=lfs -text
Trek/Frozen/panel1_xuan_6.wav filter=lfs diff=lfs merge=lfs -text
Trek/Frozen/visual_xuan_lead_41.wav filter=lfs diff=lfs merge=lfs -text
Trek/Frozen/xuan_lead_41.wav filter=lfs diff=lfs merge=lfs -text
Trek/Frozen/transporter_xuan_lead_28.wav filter=lfs diff=lfs merge=lfs -text
Trek/Frozen/xuan_lead_19.wav filter=lfs diff=lfs merge=lfs -text
Trek/Frozen/xuan_lead_32.wav filter=lfs diff=lfs merge=lfs -text
Trek/Frozen/ending_xuan_lead_18.wav filter=lfs diff=lfs merge=lfs -text
Trek/Frozen/panel1_bassnotes_33.wav filter=lfs diff=lfs merge=lfs -text
Trek/Frozen/panel1_xuan_18.wav filter=lfs diff=lfs merge=lfs -text
Trek/Frozen/panel1_xuan_2.wav filter=lfs diff=lfs merge=lfs -text
Trek/Frozen/panel1_xuan_lead_26.wav filter=lfs diff=lfs merge=lfs -text
Trek/Frozen/testFreezes_26.wav filter=lfs diff=lfs merge=lfs -text
Trek/Frozen/xuan_-1.wav filter=lfs diff=lfs merge=lfs -text
Trek/Frozen/panel1_xuan_19.wav filter=lfs diff=lfs merge=lfs -text
Trek/Frozen/chamber_xuan_25.wav filter=lfs diff=lfs merge=lfs -text
Trek/Frozen/ending_xuan_lead_22.wav filter=lfs diff=lfs merge=lfs -text
Trek/Frozen/ending_xuan_lead_32.wav filter=lfs diff=lfs merge=lfs -text
Trek/Frozen/panel1_xuan_0.wav filter=lfs diff=lfs merge=lfs -text
Trek/Frozen/ending_xuan_lead_23.wav filter=lfs diff=lfs merge=lfs -text
Trek/Frozen/panel1_xuan_14.wav filter=lfs diff=lfs merge=lfs -text
Trek/Frozen/ending_xuan_lead_31.wav filter=lfs diff=lfs merge=lfs -text
Trek/Frozen/panel1_xuan_5.wav filter=lfs diff=lfs merge=lfs -text
Trek/Frozen/xuan_lead_34.wav filter=lfs diff=lfs merge=lfs -text
Trek/Frozen/xuan_lead_30.wav filter=lfs diff=lfs merge=lfs -text
Trek/Frozen/ending_xuan_lead_36.wav filter=lfs diff=lfs merge=lfs -text
Trek/Frozen/ending_xuan_lead_38.wav filter=lfs diff=lfs merge=lfs -text
Trek/Frozen/panel1_xuan_lead_30.wav filter=lfs diff=lfs merge=lfs -text
Trek/Frozen/visual_xuan_lead_38.wav filter=lfs diff=lfs merge=lfs -text
Trek/Frozen/testFreeze.wav filter=lfs diff=lfs merge=lfs -text
Trek/Frozen/xuan_lead_-1.wav filter=lfs diff=lfs merge=lfs -text
Trek/Frozen/xuan_lead_29.wav filter=lfs diff=lfs merge=lfs -text
Trek/Frozen/ending_xuan_lead_13.wav filter=lfs diff=lfs merge=lfs -text
Trek/Frozen/panel1_xuan_17.wav filter=lfs diff=lfs merge=lfs -text
Trek/Frozen/panel1_xuan_lead_28.wav filter=lfs diff=lfs merge=lfs -text
Trek/Frozen/rescue_xuan_lead_15.wav filter=lfs diff=lfs merge=lfs -text
Trek/Frozen/visual_xuan_lead_-1.wav filter=lfs diff=lfs merge=lfs -text
Trek/Frozen/visual_xuan_lead_30.wav filter=lfs diff=lfs merge=lfs -text
Trek/Frozen/visual_xuan_lead_36.wav filter=lfs diff=lfs merge=lfs -text
Trek/Frozen/chamber_xuan_24.wav filter=lfs diff=lfs merge=lfs -text
Trek/Frozen/chamber_xuan_lead_28.wav filter=lfs diff=lfs merge=lfs -text
Trek/Frozen/ending_xuan_lead_30.wav filter=lfs diff=lfs merge=lfs -text
Trek/Frozen/panel1_bonk_13.wav filter=lfs diff=lfs merge=lfs -text
Trek/Frozen/rescue_xuan_lead_14.wav filter=lfs diff=lfs merge=lfs -text
Trek/Frozen/rescue_xuan_lead_20.wav filter=lfs diff=lfs merge=lfs -text
Trek/Frozen/visual_xuan_lead_26.wav filter=lfs diff=lfs merge=lfs -text
Trek/Frozen/visual_xuan_lead_32.wav filter=lfs diff=lfs merge=lfs -text
Trek/Frozen/panel1_xuan_21.wav filter=lfs diff=lfs merge=lfs -text
Trek/Frozen/panel1_xuan_3.wav filter=lfs diff=lfs merge=lfs -text
Trek/Frozen/panel1_xuan_4.wav filter=lfs diff=lfs merge=lfs -text
Trek/Frozen/panel1_xuan_lead_20.wav filter=lfs diff=lfs merge=lfs -text
Trek/Frozen/xuan_lead_20.wav filter=lfs diff=lfs merge=lfs -text
Trek/Frozen/xuan_lead_37.wav filter=lfs diff=lfs merge=lfs -text
Trek/Frozen/xuan_lead_38.wav filter=lfs diff=lfs merge=lfs -text
Trek/Frozen/panel1_xuan_11.wav filter=lfs diff=lfs merge=lfs -text
Trek/Frozen/panel1_xuan_15.wav filter=lfs diff=lfs merge=lfs -text
Trek/Frozen/panel1_xuan_lead_33.wav filter=lfs diff=lfs merge=lfs -text
Trek/Frozen/xuan_lead_15.wav filter=lfs diff=lfs merge=lfs -text
Trek/SynthV/song2/**/*.wav filter=lfs diff=lfs merge=lfs -text
Trek/SynthV/chamber1/1422683892/synthV_MixDown.wav filter=lfs diff=lfs merge=lfs -text
Trek/Frozen/visual_TUNE_42.wav filter=lfs diff=lfs merge=lfs -text
Trek/Frozen/transporter_transporter_29.wav filter=lfs diff=lfs merge=lfs -text
IR/Saane filter=lfs diff=lfs merge=lfs -text
IR/Saane/Roland_DEP_3 filter=lfs diff=lfs merge=lfs -text
IR/Saane/Streets filter=lfs diff=lfs merge=lfs -text
IR/Saane/Church_Schellingwoude filter=lfs diff=lfs merge=lfs -text
IR/Saane/Claustrophobia filter=lfs diff=lfs merge=lfs -text
IR/Saane/Lexicon_Model_200 filter=lfs diff=lfs merge=lfs -text
IR/Saane/Speakers_&_Telephones filter=lfs diff=lfs merge=lfs -text
IR/Saane/EMT_244 filter=lfs diff=lfs merge=lfs -text
IR/Saane/Factory_Hall filter=lfs diff=lfs merge=lfs -text
IR/Saane/Mercedes_van filter=lfs diff=lfs merge=lfs -text
IR/Saane/Domestic filter=lfs diff=lfs merge=lfs -text
IR/Saane/Lexicon_PCM60 filter=lfs diff=lfs merge=lfs -text
IR/Saane/Fostex_3180 filter=lfs diff=lfs merge=lfs -text
IR/Saane/Master_Room_MR_II filter=lfs diff=lfs merge=lfs -text
IR/Saane/Roland_RE_201_Space_Echo filter=lfs diff=lfs merge=lfs -text
IR/Saane/Small_Factory_Hall filter=lfs diff=lfs merge=lfs -text
IR/Saane/Vintage_Spring_Reverb filter=lfs diff=lfs merge=lfs -text
IR/Saane/Church_Buiksloterkerk filter=lfs diff=lfs merge=lfs -text
IR/Saane/Forest filter=lfs diff=lfs merge=lfs -text
