**syncthing**
*PROX
**DS_Store*
*.reapeaks
*.rpp-bak
*.RPP-bak
*.stversions*
SynthV/**/project.svp
Trek/SynthV/**/*raw
Trek/SynthV/**/project.svp

.undodir

SampleRamper/trainramps.wav
SampleRamper/trainramps_shorter.wav
four/four.wav
graph/anxiety(short).mp3
graph/ramps-down.mp3
graph/ramps-up.mp3
Triangle/TriangleTuned.wav
Extensions/.DS_Store
More-Organized-Trek/Songs/Song-Part.sc
Dur/Old
Trek/Dur/Old
Vocaloid
Dall-E/fedimeister-1.0.jar
Extensions/PortedPlugins
Extensions/PortedPlugins
Extensions/PortedPlugins
Extensions/PortedPlugins
Extensions/PortedPlugins
Extensions/PortedPlugins
Extensions/sc2
PortedPlugins
PNG
RPP
Trek/Stills/2023-07-03 01-37-42.mp4
Trek/Stills/media
Trek/Stills
TrekClasses
Website
Website2
WebsiteByHand
Extensions/VSTPlugin/**
Extensions/VSTPlugin
Extensions/VSTPlugin/README.md
Extensions/VSTPlugin
Extensions/VSTPlugin
Extensions/VSTPlugin/README.md
Extensions/SC3plugins/**
Alik_Tutorials
Extensions/FluidCorpusManipulation
Extensions/TimeStretch/
Extensions/supercollider-sfz
Extensions/supercollider-sfz
