**syncthing**
*PROX
**DS_Store*
*.reapeaks
*.rpp-bak
*.RPP-bak
*.stversions*
SynthV/**/project.svp
Trek/SynthV/**/project.svp

.undodir

SampleRamper/trainramps.wav
SampleRamper/trainramps_shorter.wav
four/four.wav
graph/anxiety(short).mp3
graph/ramps-down.mp3
graph/ramps-up.mp3
Triangle/TriangleTuned.wav
Extensions/.DS_Store
More-Organized-Trek/Songs/Song-Part.sc
Dur/Old
Trek/Dur/Old
Vocaloid
Dall-E/fedimeister-1.0.jar
Extensions/PortedPlugins
Extensions/PortedPlugins
Extensions/PortedPlugins
Extensions/PortedPlugins
