[submodule "downloaded-quarks/panola"]
	path = downloaded-quarks/panola
	url = https://github.com/shimpe/panola
[submodule "Extensions/PMlib"]
	path = Extensions/PMlib
	url = https://github.com/michaeldzjap/PMLib.git
[submodule "downloaded-quarks/Vowel"]
	path = downloaded-quarks/Vowel
	url = https://github.com/supercollider-quarks/Vowel
[submodule "Extensions/supercollider-sfz"]
	path = Extensions/supercollider-sfz
	url = https://github.com/snappizz/supercollider-sfz.git
